html, body{
    height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-size: 12pt;
}
         
h1, h2, h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
     
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul{
    padding: 0;
    list-style: none;
}
     
.container{   
    /* Set width of container to
        1200px and align center */
    margin: 0px auto;
    width: 1200px;
}




/*************************/
/*    Styling  Header    */
/*************************/
header{
    overflow: hidden;
}
 
#top-header{
    text-align: center;
    height: 0px;
}
 
/****************/   
/* Styling Logo */
/****************/
#logo{
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 20%;
    position: absolute;
    top: 0.5%;
    left: 5%;
}
 
#logo img{
    width: 40%;
    float: left;
    padding: 10px 0px;
    
}   
 
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
     
#menu ul{
    text-align: center;
    float: right;
    margin: none;
    background: #000000;
}
     
#menu li{
    display: inline-block;
    padding: none;
    margin: none;
}
     
#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 2em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
     
#menu li a{
         
    color: #FFF;
}
     
#menu li:hover a, #menu li span{
    background: #ffffff;
    color: #000000;
    border-left: 1px solid #000000;
    text-decoration: none;
}

/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    top: 10px;
    position: relative;
}
 
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
 
#image-text{
    position: absolute;
    top: 20%;
    left: 50%;
    font-family: 'Roboto';
    color: #ffffff;
    transform: translate(-30%, -30%);
    text-align: center;
}

/**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome
{    overflow: hidden;
    width: 1000px;
    margin: 40px auto;
}

#welcome .title{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

#welcome p{
    margin-bottom: 40px;
    text-align: center;
}

/**********************************/
/* Styling Main content projects */
/**********************************/

#projecttext
{
    overflow:hidden;
    width: 800px;
    margin: 10px auto;
    margin-bottom: 0px;
}

#projecttext .title{
    margin-top: 0px;
    text-align: left;
    margin-bottom:0px;
}

#projecttext p{
    margin-bottom: 40px;
    text-align: left;
    padding: 20px;
}


/**********************************/
/* Styling Main content for single project */
/**********************************/

#oneprojecttext
{
    overflow:hidden;
    width: 800px;
    margin: 10px auto;
    margin-bottom: 0px;
}

#oneprojecttext .title{
    margin-top: 0px;
    text-align:center;
    margin-bottom:0px;
}

#oneprojecttext p{
    margin-bottom: 40px;
    text-align:justify;
    padding: 20px;
}


/**********************************/
/* Styling Main content Section 2 */
/**********************************/
#section-2{
    overflow: hidden;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.row #column1,
.row #column2,
.row #column3{
        float: left;
        width: 320px;
        padding: 20px 40px 80px 40px;
}

.column-title h2{
    margin: 1em 0em;
    font-size: 1.6em;
    font-weight: 700;
}

.button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: 2px solid #000000;
    padding: 16px 32px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
     
.button:hover {
    background-color: white;
    color: #000000;
}

/**********************************/
/* Styling Main content Footer */
/**********************************/
.company-details{
    overflow: hidden;
    padding: 3em 0em;
    background: #E3F0F7;
    text-align: center;
    margin-top: 5em;
}

#footer #col1,
#footer #col2,
#footer #col3{
    float: left;
    width: 320px;
    padding: 0px 40px 0px 40px;
}

#footer #icon{
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
}

.copyright
{
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    background: #000000;
}

.copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}

.copyright a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}


/**********************************/
/* Styling Main content CV */
/**********************************/
#cv{   
    overflow: hidden;
    width: 1000px;
    margin: 10px auto;
}

#cv .title{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

#cv p{
    margin-bottom: 1px;
    margin-left: 10%;
    margin-right:10%;
    text-align:justify;

}




.rowp #column1,
.rowp #column2{
        float: left;
        width: 300px;
        padding: 20px 40px 80px 40px;
}


li {
    margin-bottom: 10px;
}